{% extends "analysis/analysis_base.html" %}

{% block analysis_content %}

<h1>Kennzahl bearbeiten für Branche: <strong>{{ profile.name }}</strong></h1>

<form action="/analysis/update-metric-of-current-template-config/{{ config.id }}" method="post">

    <h3>Stammdaten (Global)</h3>
    <label>
        Name:
        <input type="text" name="name" value="{{ _(metric.name) }}" required>
    </label>
    <br><br>

    <label>
        Einheit:
        <input type="text" name="unit" value="{{ metric.unit }}" required>
    </label>
    <br><br>

    <label>
        Kategorie:
        <span>{{ metric.category_rel.name if metric.category_rel else '— keine —' }}</span>
    </label>

    <hr>
    <h3>Branchenspezifische Werte (Nur {{ profile.name }})</h3>

    <label>
        Sollte steigen:
        <input type="checkbox" name="should_rise" {% if config.should_rise %}checked{% endif %}>
    </label>
    <br><br>

    <label>
        Richtwert:
        <input type="number" name="reference_value" value="{{ config.reference_value }}">
    </label>
    <br><br>

    <label>
        Ist Aktiv in dieser Branche:
        <input type="checkbox" name="is_active" {% if config.is_active %}checked{% endif %}>
    </label>

    <br><br>
    <button type="submit">Änderungen speichern</button>
</form>

{% endblock %}