{% extends "analysis/analysis_base.html" %}

{% block analysis_content %}

<!-- SELECT BOX -->
<label for="industry_select">Bestehende Industrien</label>
<select id="industry_select" name="selected_industry">
    {% for industry in created_industries_of_current_user %}
        <option value="{{ industry }}">
            {{ industry }}
        </option>
    {% endfor %}
</select>

<br><br>

<!-- INPUT FIELD -->
<form method="post" action="/analysis/add-to-current-user-new-industry">

    <input
        type="text"
        name="industry_name"
        placeholder="Neue Branche eingeben"
        required
    />

    <button type="submit">
        Neue Industrie hinzufügen
    </button>

</form>

<form method="post" action="/analysis/update-wiki-page-current-selected-industry">

    <input type="hidden" name="selected_industry" id="selected_input_industry">
    <input type="hidden" name="action" value="update_by_url">

    <input
        type="text"
        name="input_link_or_text"
        placeholder="Link aus dem man die Daten nimmt"
        required
    />

    <button type="submit">
        Update Wiki der ausgewählten Branche über URL
    </button>
</form>

<hr>

<!-- TEXTAREA SECTION -->
<form method="post" action="/analysis/update-wiki-page-current-selected-industry">

    <input type="hidden" name="selected_industry" id="selected_textarea_industry">
    <input type="hidden" name="action" value="update_by_text">

    <textarea
        name="input_link_or_text"
        placeholder="Neuer Text zur Wiki der aktuellen Branche"
        rows="6"
        required
    ></textarea>

    <button type="submit">
        Update Wiki der gerade ausgewählten Branche über einen Text
    </button>
</form>

<script>
function syncIndustry() {
    const val = document.getElementById("industry_select").value;

    document.getElementById("selected_input_industry").value = val;
    document.getElementById("selected_textarea_industry").value = val;
}

document.getElementById("industry_select")
    .addEventListener("change", syncIndustry);

// initial sync
syncIndustry();
</script>

{% endblock %}

