{% extends "analysis/analysis_base.html" %}

{% block analysis_content %}

    <!-- Markdown Container Liste -->
    <div id="wiki-container">
        {% for page in wiki_pages %}

            <!-- Wiki Page (Markdown) -->
            <div class="markdown-block" data-md="{{ page.wiki_page | e }}"></div>

            <!-- Bull + Bear Factors nebeneinander -->
            <div style="display: flex; gap: 20px; margin-top: 10px;">
                <div style="flex: 1;">
                    <h2>Industry</h2>
                    <div class="markdown-block" data-md="{{ page.industry_name | e }}"></div>
                </div>
                <br>
                <div class="markdown-block" data-md="{{ page.wiki_page | e }}"></div>


            </div>

            <hr>

        {% endfor %}
    </div>

    <!-- Marked.js -->
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const blocks = document.querySelectorAll(".markdown-block");

            blocks.forEach(block => {
                const markdownText = block.dataset.md;

                if (markdownText) {
                    block.innerHTML = marked.parse(markdownText);
                }
            });
        });
    </script>

{% endblock %}