<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Financial Metrics</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
     <style>
        .satisfied {
            color: green;
            font-weight: bold;
        }

        .unsatisfied {
            color: red;
            font-weight: bold;
        }

        .container {
            display: flex;
            flex-direction: column;
            gap: 6px;
        }
    </style>
</head>
<body>

<h1>Financial Metrics</h1>

<div id="charts"></div>

<script>
    const data = {{ data | tojson }};
    const years = {{ years | tojson }};

    const container = document.getElementById("charts");

    for (const key in data) {
        // Canvas erstellen
        const canvas = document.createElement("canvas");
        container.appendChild(canvas);

        new Chart(canvas, {
            type: 'bar',
            data: {
                labels: years,
                datasets: [{
                    label: key,
                    data: data[key],
                }]
            },
            options: {
                responsive: true,
                plugins: {
                    title: {
                        display: true,
                        text: key
                    }
                }
            }
        });
    }
</script>
<div class="container">

    {% for metric in satisfied_metrics %}
        <div class="satisfied">
            {{ metric }}
        </div>
    {% endfor %}

    {% for metric in unsatisfied_metrics %}
        <div class="unsatisfied">
            {{ metric }}
        </div>
    {% endfor %}

     {% for metric in satisfied_benchmarks %}
        <div class="satisfied">
            {{ metric }}
        </div>
    {% endfor %}

    {% for metric in unsatisfied_benchmarks %}
        <div class="unsatisfied">
            {{ metric }}
        </div>
    {% endfor %}

     {% for metric in satisfied_development %}
        <div class="satisfied">
            {{ metric }}
        </div>
    {% endfor %}

    {% for metric in unsatisfied_development %}
        <div class="unsatisfied">
            {{ metric }}
        </div>
    {% endfor %}

</div>


</body>
</html>