ACCESS_TOKEN_EXPIRE_MINUTES=[eine Zahl]
REFRESH_TOKEN_EXPIRE_DAYS=[Zahl für Tage]
SECRET_KEY=
# ===========================================
# SECURITY CONFIGURATION (REQUIRED)
# ===========================================
JWT_SECRET= your jwt secert
JWT_ALGORITHM=HS256
ENCRYPTION_KEY= your encryption key
EMAIL_SALT= your email salt

# ===========================================
# DATABASE CONFIGURATION
# ===========================================
REDIS_HOST=localhost
REDIS_PORT=6379
MONGO_URL=mongodb://localhost:27017

# ===========================================
# EMAIL SERVICE (Use App Passwords)
# ===========================================
MAIL_USERNAME=your email from which email has to be sent
MAIL_PASSWORD= your app password
MAIL_FROM=your email from which email has to be sent
MAIL_FROM_NAME="Enterprise Auth System"
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_STARTTLS=true
MAIL_SSL_TLS=false
USE_CREDENTIALS=true
VALIDATE_CERTS=true

# ===========================================
# SMS SERVICE (Twilio)
# ===========================================
TWILIO_SID=your twilio sid
TWILIO_AUTH_TOKEN=your twilio auth token
TWILIO_NUMBER=your twilio numner
# ===========================================
# MONITORING
# ===========================================
Account_id=Watchman Account id
Access_token=watchman access token

# ===========================================
# APPLICATION
# ===========================================
APP_NAME="Enterprise Auth System"
APP_DOMAIN=localhost:8000
ENVIRONMENT=development

FINNHUB_API_KEY=
GROQ_API_KEY=
SECOND_GROQ_API_KEY=
GEMINI_API_KEY=
FMP_API_KEY=
ALPHA_VENTAGE_API_KEY=