# Python

**pycache**/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual Environment

.venv/
venv/
env/

# Environment variables

.env


# Logs

*.log

# OS files

.DS_Store
Thumbs.db

# IDEs

.vscode/
.idea/

# Python build / packaging

build/
dist/
*.egg-info/

# Testing

.pytest_cache/
.coverage

# Migrations (optional, wenn du sie nicht tracken willst)

# migrations/

# SQLite (falls genutzt)

*.db
./test.db

# FastAPI / Uvicorn

*.pid

# mypy

.mypy_cache/

# Ruff / Lint

.ruff_cache/
